@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

section {
    padding: 0 100px;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 60px;
    font-weight: 500;
}

.heading p {
    font-size: 20px;
    font-weight: 300;
}


.header {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ffffff36;
    height: 65px;
    border-radius: 6px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 100px;
}

.header .logo img {
    width: 100%;
}


/* Hero Start */

.hero {
    display: flex;
    justify-content: space-between;
}

.hero .hero_content {
    padding-top: 100px;
}

.hero .hero_content .name {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

.hero .hero_content h2 {
    font-size: 75px;
}

.headingSpan {
    color: #D04F04;
}

.heaing_line {
    width: 210px;
    border-bottom: 7px solid #3b3e42;
    margin-top: -20px;
}

.info {
    margin-top: 42px;
    margin-bottom: 30px;
    font-weight: 300;
    font-style: normal;
}

.hero_button {
    width: 200px;
    height: 70px;
    background: #D04F04;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.spline {
    margin-top: 0px;
    width: 50%;
    height: 80vh;
}

/* Hero End */


/* Marquee Start */


.marquee {
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    height: 6vh;
    user-select: none;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #fff;
    background-color: black;
    /* transform: skewY(-3deg); */
    /* transform: rotate(-5deg) translateY(-30px) translateX(50px); */
    transform: rotate(-5deg);
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    min-width: 100%;
    animation: scroll 15s linear infinite reverse;
}

.marquee__group span {
    color: white;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    /*text-transform: uppercase;*/
}

.marquee__group_two {
    animation: scroll 15s linear infinite;
}

.marquee__two {
    transform: rotate(4deg);
    margin-top: 0px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 2rem));
    }
}

@media only screen and (min-width: 360px) {
    .marquee__group span {
        font-size: 18px;
    }
}

/* maequee End */


/* Featured Projects Start  */

#portfolio{
    transition: 0.3s;
}

.portfolio {
    margin-top: 120px;
}

.portfolio .quote {
    text-align: center;
}

.portfolio .quote {
    margin: 0 auto;
    width: 34%;
}

.portfolio .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}



.portfolio .projects {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #bf4803; */
    /* height: 100vh; */
}

.portfolio .projects .proj_card {
    width: 600px;
    /* height: 550px; */
    /* margin: 10px 0; */
    /* background: green; */
    /* background: #171717; */
    /* position: relative; */
}

.portfolio .projects .proj_card .proj_con {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 7px;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.102);
    border-radius: 12px;
}

.portfolio .projects .proj_card .proj_con .dots {
    width: 100%;
    height: min-content;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6px;
    justify-content: flex-start;
    overflow: hidden;
    padding: 6px 0px 6px 0px;
}

.portfolio .projects .proj_card .proj_con .dots .dot {
    background: rgba(255, 255, 255, 0.1608);
    width: 8px;
    height: 8px;
    position: relative;
    /* background-image: url('images/download.svg'); */
    /* background-size: 100% 100%; */
    border-radius: 6px;
}

.portfolio .projects .proj_card .proj_con .proj_img {
    width: 100%;
}

.portfolio .projects .proj_card .proj_con .proj_img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center top;
    object-fit: cover;
    image-rendering: auto;
    border-radius: 6px;
}

.portfolio .projects .proj_card .proj_con .proj_des {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    height: min-content;
    cursor: pointer;
    height: min-content;
}

.portfolio .projects .proj_card .proj_con .proj_des h2 {
    font-size: 30px;
    font-weight: 500;
}

.portfolio .projects .proj_card .proj_con .proj_des p {
    font-size: 18px;
    font-weight: 300;
}

/* Featured Projects End  */


/* About Start */

.about_me {
    margin-bottom: 100px;
}

.about_info {
    margin-top: 76px;
    display: flex;
    /* flex-direction: row; */
    gap: 100px;
    /* justify-content: space-between; */
}

.about_info .my_img {
    width: 500px;
    height: 500px;
}

.about_info .my_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.my_info {
    width: 530px;
}

.my_info h1 {
    font-size: 30px;
    font-weight: 500;
}

.my_info .expert {
    font-weight: 400;
    font-size: 18px;
    color: #D04F04;
    margin-top: 15px;
}

.my_info p {
    font-size: 20px;
    line-height: 36px;
}

.my_info .about_para {
    margin: 20px 0;
}

.my_info .expertise span {
    font-weight: 500;
}

/* About End */



/* Footer Start */


.contact_button button {
    background: transparent;
    border: 1px solid #FFF;
    outline: none;
    padding: 20px 20px;
    height: 130px;
    width: 400px;
    border-radius: 100px;
    overflow: hidden;
    transform: scaleX(1);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
    cursor: pointer;
}

.contact_button button:hover {
    animation: animate-scaleX 0.6s cubic-bezier(0.4, 0, 0, 1);
    background: none;
}

.contact_button button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F0F0F0;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
        border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
    transform: translateY(100%);
}

.contact_button button:hover::after {
    transform: translateY(0%);
    border-radius: 0;
}

.contact_button button span {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    color: #F0F0F0;
}

.contact_button button span:after {
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
    content: attr(data-text);
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 1;
    transform: translate(-50%, 100%);
    color: #161616;
}

.contact_button button:hover span:after {
    transform: translate(-50%, 0);
}

.contact_button button:focus {
    outline: none;
}

@keyframes animate-scaleX {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1.05);
    }

    100% {
        transform: scaleX(1);
    }
}




.footer {
    background: #161616;
    padding: 80px 0;
    background-image: url('images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.footer section h1 {
    font-size: 70px;
    text-align: center;
    letter-spacing: -1.5px;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
}

.footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer .contact .social_icons {
    display: flex;
    align-items: center;
    gap: 6px;
}

.acc_link {
    background: #262424;
    padding: 20px;
    border-radius: 100%;
}


/* Footer End */







/* Responsive Start */





@media only screen and (max-width: 768px) {
    .heading h1 {
        font-size: 45px;
    }

    .heading p {
        font-size: 16px;
    }

    /* Hero Start */

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero .hero_content {
        padding-top: 60px;
    }

    .hero .hero_content h2 {
        font-size: 60px;
    }

    .heaing_line {
        width: 170px;
        margin-left: 40px;
    }

    .spline {
        display: none;
    }

    .footer .contact {
        display: flex;
        flex-direction: column;
    }

    /* Hero End */


    /* Portfolio Start */

    .portfolio .quote {
        width: 60%;
    }

    /* Portfolio End */


    /* About Start */

    .about_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_info .my_img {
        width: 400px;
        height: 400px;
    }

    .my_info {
        text-align: center;
    }

    /* About Info */


    /* Footer Start */

    .footer section h1 {
        font-size: 60px;
    }

    .footer .contact {
        gap: 30px;
    }

    /* Footer End */
}










@media only screen and (max-width: 426px) {
    section {
        padding: 10px;
    }

    .heading h1 {
        font-size: 40px;
    }

    .hero .hero_content h2 {
        font-size: 45px;
    }

    .heaing_line {
        width: 130px;
        margin-left: 30px;
        margin-top: -12px;
    }

    .portfolio .quote {
        width: 80%;
    }

    .my_info p {
        font-size: 18px;
    }

    .my_info {
        width: 400px;
    }

    .footer section h1 {
        font-size: 45px;
    }
}


@media only screen and (max-width: 376px) {
    .about_info {
        margin-top: 40px;
        gap: 40px;
    }

    .about_info .my_img {
        width: 300px;
        height: 300px;
    }

    .my_info {
        width: 350px;
    }

    .contact_button button {
        width: 300px;
    }
}

@media only screen and (max-width: 321px) {
    .hero .hero_content h2 {
        font-size: 37px;
    }

    .heaing_line {
        width: 100px;
    }

    .about_info {
        margin-top: 40px;
        gap: 40px;
    }

    .about_info .my_img {
        width: 300px;
        height: 300px;
    }

    .my_info {
        width: 300px;
    }

    .my_info p {
        font-size: 15px;
    }

    .contact_button button {
        width: 300px;
    }
}



/* Responsive End */